uit the server with CTRL-BREAK.
<span class="e1og5iq70 css-2ixnzh e1yb07vi1">
    <span aria-label="wi\xc4\x99cej informacji" role="button" tabindex="0" class="css-12mkfdx e1yb07vi0">
        <p class="css-1vd92mz e1og5iq72">Podbite</p>
    </span>
</span>
<div class="css-xw6zw6 es62z2j12">
    <h3 data-cy="listing-item-title" title="Mieszkanie 2 pokoje w Legionowie - bezpo\xc5\x9brednio" class="css-1rhznz4 es62z2j11">Mieszkanie 2 pokoje w Legionowie - bezpo\xc5\x9brednio</h3>
</div>
<p title="Mieszkanie na sprzeda\xc5\xbc: Legionowo, legionowski, mazowieckie" class="css-80g06k es62z2j10">
    <span class="css-17o293g es62z2j9">Legionowo, legionowski, mazowieckie</span>
</p>
<div class="css-153eqh1 e1brl80i3">
    <span class="css-s8wpzb e1brl80i2">299&nbsp;900&nbsp;z\xc5\x82</span>
    <span class="css-s8wpzb e1brl80i2"><strong>8705&nbsp;z\xc5\x82/m\xc2\xb2</strong>
    </span>
    <span class="css-s8wpzb e1brl80i2">2 pokoje</span>
    <span class="css-s8wpzb e1brl80i2">34.45 m\xc2\xb2</span>
</div>
<div class="css-whvrhx e1dxhs6v6">
    <div class="css-jle34m e1dxhs6v5">
        <p class="css-1jtrc3q e1dxhs6v4">
            <span class="css-16zp76g e1dxhs6v2">Oferta prywatna</span>
        </p>
    </div>
</div>


b'<span class="e1og5iq70 css-2ixnzh e1yb07vi1">
    <span aria-label="wi\xc4\x99cej informacji" role="button" tabindex="0" class="css-12mkfdx e1yb07vi0">
        <p class="css-1vd92mz e1og5iq72">Podbite</p>
    </span>
</span>
<div class="css-xw6zw6 es62z2j13">
    <h3 data-cy="listing-item-title" title="Rozk\xc5\x82adowe mieszkanie 37m z balkonem i piwnic\xc4\x85" class="css-1rhznz4 es62z2j12">Rozk\xc5\x82adowe mieszkanie 37m z balkonem i piwnic\xc4\x85</h3>
</div>
<p title="Mieszkanie na sprzeda\xc5\xbc: ul. Warszawska, Legionowo, mazowieckie" class="css-80g06k es62z2j11">
    <span class="css-17o293g es62z2j10">ul. Warszawska, Legionowo, mazowieckie</span>
</p>
<div class="css-153eqh1 e1brl80i2">
    <span class="css-s8wpzb e1brl80i1">335&nbsp;000&nbsp;z\xc5\x82</span>
    <span class="css-s8wpzb e1brl80i1">
        <strong>9049&nbsp;z\xc5\x82/m\xc2\xb2</strong>
    </span>
    <span class="css-s8wpzb e1brl80i1">2 pokoje</span>
    <span class="css-s8wpzb e1brl80i1">37.02 m\xc2\xb2</span>
</div><div class="css-fukveo e1dxhs6v6">
    <div class="css-8i41t8 e1dxhs6v5">
        <div class="css-1xxcnxh e1dxhs6v1">
            <img src="https://ireland.apollo.olxcdn.com/v1/files/eyJmbiI6InliZG5xeHJtZWQ4cDMtQVBMIn0.E0ERYShMTu3Eg2yCN0M5GDUAcjtDwYs9Vx6EUabTucI/image;s=800x600;q=90" alt="MAXON Nieruchomo\xc5\x9bci" loading="lazy" class="css-hon96k e1dxhs6v0">
        </div>
        <p class="css-1jtrc3q e1dxhs6v4">
            <span class="css-4pyl2y e1dxhs6v3">MAXON Nieruchomo\xc5\x9bci</span>
            Biuro nieruchomo\xc5\x9bci
        </p>
    </div>
</div>'
